<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <!--<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>-->
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/iv" class="menu-item" routerLinkActive="active-link">运单分析</a>
      <a mat-list-item routerLink="/ls" class="menu-item" routerLinkActive="active-link">流量分析</a>
      <a mat-list-item routerLink="/fh" class="menu-item" routerLinkActive="active-link">发货分析</a>
      <a mat-list-item routerLink="/cn" class="menu-item" routerLinkActive="active-link">中国地图</a>
      <a mat-list-item routerLink="/ly" class="menu-item" routerLinkActive="active-link">临沂地图</a>
      <a mat-list-item routerLink="/line1" class="menu-item" routerLinkActive="active-link">路线1</a>
      <a mat-list-item routerLink="/line2" class="menu-item" routerLinkActive="active-link">路线2</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>clean</span>
    </mat-toolbar>-->
    <!-- Add Content Here -->
    <!--<app-fh></app-fh>-->
    <!--<app-dashboard></app-dashboard>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
