<mat-card>
  <mat-card-content>
    <div class="config-column">
      <div class="title">指标</div>
      <mat-radio-group [(ngModel)]="selectedMeasure" (change)="measureSelected($event)">
        <ul class="radio-options">
          <li *ngFor="let option of measureOptions">
            <!--<mat-checkbox [(ngModel)]="option.selected" color="accent" (ngModelChange)="refreshChart()">
              {{option.label}}
            </mat-checkbox>-->
            <mat-radio-button color="accent" [value]="option.name">{{option.label}}</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </div>
    <div class="config-column">
      <div class="title">维度1</div>
      <mat-radio-group [(ngModel)]="selectedDim" (change)="dimSelected($event)">
        <ul class="radio-options">
          <li *ngFor="let option of dimOptions">
            <!--<mat-checkbox [(ngModel)]="option.selected" color="primary" (ngModelChange)="refreshChart()">
              {{option.label}}
            </mat-checkbox>-->
            <mat-radio-button color="primary" [value]="option.name">{{option.label}}</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </div>
    <div class="config-column">
      <div class="title">维度2</div>
      <mat-radio-group [(ngModel)]="selectedDim2" (change)="dimSelected2($event)">
        <ul class="radio-options">
          <li *ngFor="let option of dimOptions">
            <!--<mat-checkbox [(ngModel)]="option.selected" color="primary" (ngModelChange)="refreshChart()">
              {{option.label}}
            </mat-checkbox>-->
            <mat-radio-button color="primary" [value]="option.name">{{option.label}}</mat-radio-button>
          </li>
          <li>
            <mat-radio-button color="primary" value="">（无）</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </div>
    <div class="config-column filters">
      <div class="title">筛选</div>
      <ul>
        <li>
          <mat-form-field>
            <mat-label>发货日期</mat-label>
            <mat-select [(ngModel)]="fhDateFilter" (selectionChange)="refreshChart()">
              <mat-option value="">（不限）</mat-option>
              <mat-option value="1d">一天</mat-option>
              <mat-option value="1w">最近一周</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <mat-label>发货省份</mat-label>
            <mat-select [(ngModel)]="fhsfFilter" (selectionChange)="refreshChart()" panelClass="province-select-panel">
              <mat-option value="">（不限）</mat-option>
              <mat-option *ngFor="let opt of provOptions" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <mat-label>收货省份</mat-label>
            <mat-select [(ngModel)]="shsfFilter" (selectionChange)="refreshChart()" panelClass="province-select-panel">
              <mat-option value="">（不限）</mat-option>
              <mat-option *ngFor="let opt of provOptions" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <mat-label>商品分类</mat-label>
            <mat-select [(ngModel)]="catFilter" (selectionChange)="refreshChart()">
              <mat-option value="">（不限）</mat-option>
              <mat-option *ngFor="let opt of catOptions" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>
    <div class="config-column filters">
      <div class="title">图表</div>
      <ul>
        <li>
          <mat-form-field>
            <mat-label>类型</mat-label>
            <mat-select [(ngModel)]="chartType" (selectionChange)="refreshChart()">
              <mat-option value="bar">柱状图</mat-option>
              <mat-option value="line">折线图</mat-option>
              <mat-option value="pie">饼状图</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

<div class="main-content">
  <div style="width: 1200px;height:400px;" #chart></div>
</div>
