<mat-card>
  <mat-card-content>
    <div class="config-column">
      <div class="title">指标</div>
      <mat-radio-group [(ngModel)]="selectedMeasure" (change)="measureSelected($event)">
        <ul class="radio-options">
          <li *ngFor="let option of measureOptions">
            <!--<mat-checkbox [(ngModel)]="option.selected" color="accent" (ngModelChange)="refreshChart()">
              {{option.label}}
            </mat-checkbox>-->
            <mat-radio-button color="accent" [value]="option.name">{{option.label}}</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </div>
    <div class="config-column">
      <div class="title">维度1</div>
      <mat-radio-group [(ngModel)]="selectedDim" (change)="dimSelected($event)">
        <ul class="radio-options">
          <li *ngFor="let option of dimOptions">
            <!--<mat-checkbox [(ngModel)]="option.selected" color="primary" (ngModelChange)="refreshChart()">
              {{option.label}}
            </mat-checkbox>-->
            <mat-radio-button color="primary" [value]="option.name">{{option.label}}</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </div>
    <div class="config-column">
      <div class="title">维度2</div>
      <mat-radio-group [(ngModel)]="selectedDim2" (change)="dimSelected2($event)">
        <ul class="radio-options">
          <li *ngFor="let option of dim2Options">
            <!--<mat-checkbox [(ngModel)]="option.selected" color="primary" (ngModelChange)="refreshChart()">
              {{option.label}}
            </mat-checkbox>-->
            <mat-radio-button color="primary" [value]="option.name">{{option.label}}</mat-radio-button>
          </li>
          <li>
            <mat-radio-button color="primary" value="">（无）</mat-radio-button>
          </li>
        </ul>
      </mat-radio-group>
    </div>
    <div class="config-column">
      <div class="title">筛选</div>
      <ul>
        <li>
          <mat-form-field>
            <mat-label>发货日期</mat-label>
            <mat-select [(ngModel)]="fhDateFilter" (selectionChange)="refreshChart()">
              <mat-option value="">（不限）</mat-option>
              <mat-option value="1d">一天</mat-option>
              <mat-option value="1w">一周</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <mat-label>发货省份</mat-label>
            <mat-select [(ngModel)]="fhsfFilter" (selectionChange)="refreshChart()" panelClass="province-select-panel">
              <mat-option value="">（不限）</mat-option>
              <mat-option *ngFor="let opt of provOptions" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <!--<li>
          <mat-form-field>
            <mat-label>收货省份</mat-label>
            <mat-select [(ngModel)]="shsfFilter" (selectionChange)="refreshChart()" panelClass="province-select-panel">
              <mat-option value="">（不限）</mat-option>
              <mat-option *ngFor="let opt of provOptions" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>-->
        <li>
          <mat-form-field>
            <mat-label>商品分类</mat-label>
            <mat-select [(ngModel)]="catFilter" (selectionChange)="refreshChart()">
              <mat-option value="">（不限）</mat-option>
              <mat-option *ngFor="let opt of catOptions" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
    </div>
    <div class="config-column">
      <div class="title">数据集</div>
      <ul>
        <li>
          <mat-form-field>
            <mat-label>记录条数</mat-label>
            <mat-select [(ngModel)]="limit" (selectionChange)="refreshChart()">
              <mat-option value="0">（不限）</mat-option>
              <mat-option value="5">前5条</mat-option>
              <mat-option value="10">前10条</mat-option>
              <mat-option value="20">前20条</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
        <li class="slide-toggle">
          <mat-slide-toggle [(ngModel)]="overwriteDim1" color="primary" labelPosition="before"
                            (change)="overwriteDim1Changed()">
            替换维值
          </mat-slide-toggle>
          &nbsp;
          <button mat-raised-button (click)="dim1Values=''" (change)="dim1ValuesChanged()">清空</button>
        </li>
        <li>
          <mat-form-field>
            <mat-label>维度1</mat-label>
            <textarea matInput rows="5" [disabled]="!overwriteDim1"
                      [(ngModel)]='dim1Values' (change)="dim1ValuesChanged()"
                      placeholder="输入维度值，一行一个"></textarea>
          </mat-form-field>
        </li>
      </ul>
    </div>
    <div class="config-column">
      <div class="title">图表</div>
      <ul>
        <li>
          <mat-form-field>
            <mat-label>类型</mat-label>
            <mat-select [(ngModel)]="chartType" (selectionChange)="chartTypeChanged()">
              <mat-option value="bar">柱状图</mat-option>
              <mat-option value="line">折线图</mat-option>
              <mat-option value="pie">饼状图</mat-option>
              <mat-option value="scatter">散点图</mat-option>
              <mat-option value="effectScatter">散点图（涟漪）</mat-option>
              <!--<mat-option value="map">地图</mat-option>-->
              <!--<mat-option value="radar">雷达图</mat-option>
              <mat-option value="tree">树图</mat-option>
              <mat-option value="treemap">树图（面积）</mat-option>
              <mat-option value="sunburst">旭日图</mat-option>
              <mat-option value="boxplot">盒状图</mat-option>
              <mat-option value="candlestick">K线图</mat-option>
              <mat-option value="heatmap">热力图</mat-option>
              <mat-option value="parallel">平行坐标系</mat-option>
              <mat-option value="lines">路径图</mat-option>
              <mat-option value="graph">关系图</mat-option>
              <mat-option value="gauge">仪表盘</mat-option>-->
            </mat-select>
          </mat-form-field>
        </li>
        <li class="slide-toggle">
          <mat-slide-toggle [(ngModel)]="transpose" color="primary" labelPosition="before" (change)="transposeToggle()">旋转</mat-slide-toggle>
        </li>
        <li>
          <mat-form-field class="inline-number-input">
            <input matInput placeholder="宽" [(ngModel)]="chartWidth" type="number" step="50" (change)="resized()">
          </mat-form-field>
          &nbsp;
          <mat-form-field class="inline-number-input">
            <input matInput placeholder="高" [(ngModel)]="chartHeight" type="number" step="50" (change)="resized()">
          </mat-form-field>
        </li>
        <li>
          颜色&nbsp;&nbsp;
          <button mat-raised-button (click)="colorRollBackward()">&lt;&lt;</button>
          &nbsp;
          <button mat-raised-button (click)="colorRollForward()">&gt;&gt;</button>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

<div class="main-content">
  <div [style.width.px]="chartWidth" [style.height.px]="chartHeight" #chart></div>
</div>
