<mat-card>
  <mat-card-content>
    <div class="config-column">
      <div class="title">图表</div>
      <ul>
        <li>
          <mat-form-field class="inline-number-input">
            <input matInput placeholder="宽" [(ngModel)]="chartWidth" type="number" step="100" (change)="redrawChart()">
          </mat-form-field>
          &nbsp;
          <mat-form-field class="inline-number-input">
            <input matInput placeholder="高" [(ngModel)]="chartHeight" type="number" step="100" (change)="redrawChart()">
          </mat-form-field>
        </li>
        <li>
          颜色&nbsp;&nbsp;
          <button mat-raised-button (click)="colorRollBackward()">&lt;&lt;</button>
          &nbsp;
          <button mat-raised-button (click)="colorRollForward()">&gt;&gt;</button>
        </li>
        <li class="slide-toggle">
          <mat-slide-toggle [(ngModel)]="chartDarkTheme" color="primary" labelPosition="before"
                            (change)="redrawChart()">
            深色主题
          </mat-slide-toggle>
          &nbsp;&nbsp;
          <mat-slide-toggle [(ngModel)]="chartTransparentBackground" color="primary" labelPosition="before"
                            (change)="redrawChart()">
            透明背景
          </mat-slide-toggle>
        </li>
      </ul>
    </div>
    <div class="config-column">
      <div class="title">图表</div>
      <ul>
        <li>
          <mat-form-field>
            <input matInput placeholder="标题" [(ngModel)]="chartTitle" (change)="redrawChart()">
          </mat-form-field>
        </li>
        <li>
          <mat-form-field>
            <input matInput placeholder="副标题" [(ngModel)]="chartSubTitle" (change)="redrawChart()">
          </mat-form-field>
        </li>
        <li>
          <button mat-raised-button [disabled]="!chartTitle&&!chartSubTitle"
                  (click)="chartTitle='';chartSubTitle='';redrawChart()">
            清空标题
          </button>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

<div class="main-content">
  <div [style.width.px]="chartWidth" [style.height.px]="chartHeight"
       [style.background]="chartDarkTheme? darkBackgroundColor:lightBackgroundColor" #chart></div>
</div>
