/* You can add global styles to this file, and also import other style files */
/* @angular/material/prebuilt-themes/indigo-pink.css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
  padding: 1em;
}

.province-select-panel.mat-select-panel {
  display: flex;
  flex-flow: row wrap;
  max-width: 30em;
}

.province-select-panel.mat-select-panel .mat-option {
  min-width: 7em;
}

.mat-primary-color {
  color: #3f51b5;
}

.mat-accent-color {
  color: #ff4081;
}

.mat-warn-color {
  color: #f44336;
}

.mat-secondary-color {
  color: rgba(0, 0, 0, .58)
}

.mat-disabled-color {
  color: rgba(0, 0, 0, .38)
}

.active-link {
  color: #3f51b5 !important;
}

.config-card {
  clear: both;
}

.config-column {
  display: inline-block;
  vertical-align: top;
}

.config-column.filters {
  width: 9em;
}

.config-column.filters .mat-form-field {
  display: inline;
}

.config-column ul {
  list-style-type: none;
  padding-left: 1em;
}

.config-column ul.radio-options li {
  margin-top: 0.3em;
}

.config-column:not(:last-child) {
  margin-right: 3em;
}

.config-column .title {
  color: #3f51b5
}

.config-column li .inline-number-input {
  width: 6em;
}

.config-column li.slide-toggle:not(:last-child) {
  padding-bottom: 0.9em;
}

.config-column li.slide-toggle:not(:first-child) {
  padding-top: 1.2em;
}

.config-column li .measure-name-input {
  width: 8em;
}
